.buildozer/
.buildozer-venv/
.ci-buildozer-venv/
.ci-android-src/
.kivy/
.pytest_cache/
.venv/
.vscode/
.apk_build_background
__pycache__/
bin/
build/
dist/
node_modules/
venv/

android_build.log
build_apk_wsl_run.log
buildozer.log
buildozer_build.log

*.db
*.dll
*.exe
*.log
*.pdb
*.pyd
*.pyc

session.json
sleep_pid.txt
user_data
user_data.json
wsl_echo_test.txt
wsl_write_test.txt
